@import url("https://cdn.jsdelivr.net/gh/bitmaks/cm-web-fonts@latest/fonts.css")

$cm-serif: "Computer Modern Serif", serif
$cm-mono: "Computer Modern Typewriter", monospace

html, body
  font-family: $cm-serif

h1, h2, h3, h4, h5, h6
  font-family: $cm-serif

code, pre, kbd, samp
  font-family: $cm-mono
